html {
  height: 100%;
}

body {
	min-height: 100%;
	background-color: #fff !important;
	color: #333;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
}

a{
	text-decoration: none;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    color: #48b983;
}

a:hover {
    color: #48b983;
    text-decoration: underline;
}

ul
{
	margin: 25px 0 0;
}

code {
  color: #444;
  background-color: #f6f6f6;
}

header {
  background-color: #111;
  color: #eee;
  margin-left: -10px;
  margin-top: -15px;
  padding: 25px;
  padding-top: 15px;
}

header h1 {
	font-size: 50px;
	color: white;	
	font-family: 'Exo 2', sans-serif;
	margin: 15px 0 0 15px;
	letter-spacing: 0.25em;
	font-weight: 500;
}

header h1 a {
  color: #eee;
}

header h1 a:hover {
  text-decoration: none;
}

header ul {
  margin: 25px 0 0;
}

header ul li {
  padding-bottom: 20px;
}

header ul a {
  color: #eee;
}

header ul a:hover {
  color: #48b983;
  text-decoration: none;
}
.list-inline
{
	padding-left: 15px;
	list-style: none;
	word-spacing: 15px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

.content {
  padding: 40px;
  max-width: 1000px;
  line-height: 22px;
}

.content.post {
  padding-top: 0px;
  padding-left: 0px;
  max-width: 1000px;
  line-height: 22px;
}
.content h2 {
  margin-top: 0;
  font-size: 30px;
}
.content h3 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.content h4 {
  margin-top: 25px;
  margin-bottom: 15px;
}
.content p {
  margin-bottom: 15px;
}
.content p:last-child {
  margin-bottom: 0;
}
.content ul {
  margin-bottom: 15px;
}
.content li {
  margin-bottom: 15px;
}
.content img {
  max-width: 100%;
}

.post-item {
  margin-bottom: 40px;
}
.post-item:last-child {
  margin-bottom: 0;
}
.post-item a {
  display: block;
}
.post-item a:hover {
  text-decoration: none;
}
.post-item a h2 {
  color: #222;
  font-size: 30px;
}
.post-item a:hover h2 {
  text-decoration: underline;
}
.post-item p {
  color: #888;
}

p.date {
  color: #aaa;
}
p.date a, p.date a:link, p.date a:visited {
  color: #aaa !important;
  text-decoration: underline;
}
p.date a:hover, p.date a:active {
  color: #48b983 !important;
}

.post h2 {
  margin-bottom: 20px;
}
